.profile__section {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.profile__title {
  margin: 30px auto;
  font-weight: 600;
  color: #323232;
  text-align: left;
}

.profile__header {
  display: flex;
}

.profile__picture {
  border-radius: 12px;
}

.profile__text {
  display: block;
  margin-left: 20px;
  text-align: start;
}

.profile__name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}

.profile__subject {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
}

.profile__rate {
  margin-left: 5px;
  display: flex;
}

.profile__rating {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 600;
}

.profile__smallTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.profile__introduction {
  font-size: 1rem;
}

.profile__content {
  display: flex;
  font-size: 1rem;
  min-width: 400px;
  position: relative;
  letter-spacing: -.3px;
  color: #737373;
  text-indent: 30px;
  margin-bottom: 12px;
  vertical-align: middle;
}

.profile__gosuInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 30px;
}

.profile__basicInfo .profile__addedInfo {
  width: 50%;
  text-align: left;
}